// Alerts
@use "variables" as *;
@use "sass:color";

.alert {
	padding: 0.75rem 1rem;
	border-radius: $radius;
	margin-bottom: 1rem;
	font-size: 0.9rem;

	&-error {
		background: color.adjust($danger, $alpha: -0.85);
		border: 1px solid color.adjust($danger, $alpha: -0.7);
		color: color.scale($danger, $lightness: 45%);
	}

	&-success {
		background: color.adjust($success, $alpha: -0.85);
		border: 1px solid color.adjust($success, $alpha: -0.7);
		color: color.scale($success, $lightness: 45%);
	}
}
